<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipie Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf = "isAuthenticated"><a routerLink = "/recipes">Recipies</a></li>
        <li routerLinkActive="active" *ngIf = "!isAuthenticated"><a routerLink = "/auth">Authenticate</a></li>
        <li routerLinkActive="active"><a routerLink = "/shopping">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf = "isAuthenticated" (click) = "onLogout()"> Logout</a>
        </li>
        <li class="dropdown" appDropDown>
          <a class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class = "dropdown-menu" *ngIf = "isAuthenticated">
            <li><a (click) = "onSaveData()">save data</a></li>
            <li><a (click) = "onFetch()">fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>