<div class="row">
    <div class="col-xs-12">
        <img src= {{recipeName.imagePath}} alt="" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{recipeName.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage recipie <span class="caret">
            </span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#"> Add to shop list</a></li>
            <li><a href="#"> edit</a></li>
            <li><a href="#"> delete</a></li>
        </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeName.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredents
    </div>
</div>